#box1{
	width: 500px;
	height: 200px;
	background-color: gray;
}

#position_relative_parent{
	width: 500px;
	height: 500px;
	background-color: yellow;
}

#position_relative_child{
	position: relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	/* 파란색 박스의 최초 생성 위치 기준으로 100px 만큼 아래로 이동 */
	top: 100px;
}