#box1{
	width:500px;
	height: 200px;
	background-color: gray;
}

#position_absolute_parent{
	width: 500px;
	height: 500px;
	background-color: yellow;
}

#position_absolute_child{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: blue;
	/* 마진 병합 현상이 일어나지 않는다. */
	margin-top: 100px;
}